@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    background-color: #243c74;
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    color: white;
    display: flex;
    width: 100%;
    height: 4rem;
    align-items: center;
    padding: 20px;
}

.header__xd {
    position: absolute;
    left: 20rem;
    font-weight: bold;
}

.header__xd-a {
    background-color: yellow;
    color: black;
}

.header__next {
    position: absolute;
    right: 20rem;
    border-radius: 24px;
    padding: 1em 3em;
    border: none;
    font-weight: bold;
    color: black;
    background-color: yellow;
}

.card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    height: 40rem;
    width: 30rem;
    color: white;
    padding: 2rem;
}

.card__years {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.card__input {
    margin-top: 30px;
}

.card__input {
    margin-top: 30px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid white;
    font-family: inherit;
    color: white;
    padding: 7px;
}

.card__privacy {
    margin-top: 1rem;
    font-size: 12px;
}